/* public */
html,body,form,ol,ul,li,div,p,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,th,td,font,em,ins,span,a{margin:0; padding:0;}
h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:100%;font-weight:normal}
html{_filter:expression(document.execCommand("BackgroundImageCache",false,true));}
ul,li,div,dl,dt,dd{list-style:none;}
h1.wm-public{height:0px; line-height:0px; font-size:0px;}
a{text-decoration:none;color:#fff;}
a{blr:expression(this.onFocus=this.blur());outline:none;}
a:hover{text-decoration:none;}
img{border:0;}
font,em{font-style:normal; font-family:\5b8b\4f53;}
label{vertical-align:middle; font-family:tahoma;}
textarea,input{resize:none; outline:none;}
textarea{overflow:auto;}
ins{float:right; text-decoration:none; font-weight:normal;}
.pub_wsp{word-wrap:break-word; word-break:break-all;}
.pub_abso{vertical-align:middle;}
.pub_clr{clear:both;font-size:0;height:0;line-height:0;overflow:hidden;}
.pub_le{}
.pub_lr{float: right;}
.pub_ani{-webkit-transition:0.4s;-moz-transition:0.4s;-ms-transition:0.4s;-o-transition:0.4s;transition:0.4s;}
.pub_yh{font-family:"Microsoft YaHei";}
.none{display:none;}
body{background: url(https://mz.game-beans.com/images/page3.jpg); font-size:12px; font-family:"Microsoft YaHei",Verdana,Geneva,sans-serif,\5b8b\4f53;}
.pubMain{width: 1200px; margin: 0 auto; position: relative;}



/* 头部导航条 */
.topBox{background: #fbfeff;}
.topBox .pubMain{height: 62px;}
.topBox .icon{display: block; width: 73px; height: 73px; position: absolute; left: 0; top: 12px;}
.topBox .gameTitle{float: left; width: 190px; padding: 14px 0 0 85px;}
.topBox .gameTitle h2{font-size: 20px; padding-bottom:0px;}
.yyPop,.tip-wrap{display:none;}

.nav{width: 2200px; height: 62px;}
.nav a{/* width: 133px; */padding-right:10px; height: 62px; line-height: 62px; text-indent: 36px; font-size: 16px; background: url(https://mz.game-beans.com/images/icon_01.png) no-repeat 0  center; color: #000;}
.nav a.l{/*width: 185px;*/}
.nav a.s{width: 106px;}
.nav a:hover{text-decoration: underline;}

/* 選單 */
.page2{background: no-repeat 0 0; background-size: 100% 100%;min-width: 1200px;}
    .page2 .pubMain{height:600px;}
        .page2-swiper{width:645px;height:395px;}
            .page2-swiper img{width:100%;height:100%;}
            .page2-swiper .swiper-pagination-bullet{width:20px;height:20px;background:#fff;opacity: 1;}
            .page2-swiper .swiper-pagination-bullet-active{background:#e2c67b;}
        .page2-news{width:555px;height:395px;color:#fff;}
        		.news-frame{float: right;width:548px;height:395px;border: none;overflow: hidden;}
            .news{padding: 20px 0 0 20px;height:375px;overflow: hidden;}
            .news>div{padding:0 0px;height:45px;border-bottom: 1px solid #1e2541;}
            .news_nav{height:47px;font:20px/30px "微軟正黑體"; text-align: center; }
            .news_nav dt{float:right;width:83px;height:30px; margin-right:5px; font:20px/30px "微軟正黑體";}
            .news_nav dt a{color:#fff;position:relative;}
            .news_nav dt a img{position:absolute; right:-20px; top:7px;}
            .news_nav dd{float:left;width:50px; height:35px;margin-right:20px;}
            .news_nav dd a{display:block;width:100%; height:100%; color:#fff;}
            .news_nav dd a.on{border-bottom: 3px solid #82edff;}

            .list{padding:0 0px; font:14px/37px "微軟正黑體"; display: none;}
            .list li{height:60px;border-bottom: 1px solid #1e2541;}
            .list li img{margin-right: 10px;float: left;}
            .list li a{float: left;width:75%; height:60px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;color:#fff;line-height: 60px;}
            .list li span{float:right;height:36px;margin-top: 15px;color:#646b73;}
            .list li:nth-child(1){height:60px;font:20px/50px "微軟正黑體"; color:#82edff;border-bottom: 1px solid #1e2541;line-height: 60px;}
            .list li:nth-child(1)>a{color: #82edff;}
            .list li:nth-child(1)>img{display: none;}
            .list li:nth-child(1)>span{margin-top: 0;color:#82edff;}

        .page2-link{height:195px;clear: both;padding-top: 10px;}
            .page2-link img{width:230px;}
            .page2-link .a-link{float: left;margin-right:12px;}
            .page2-link .a-link:last-child{float: right;margin-right:0px;}

/* 全域 */
.offense{
    background-color:#30305e;
}
.defense{
    background-color:#111121;
}
ul > li{
    display: inline-block;
}
tr > td{
    color: white;
}
tr.data > td{
    color: white;
    height: 24px; width: 160px;
}
tbody > p{
    width: 628px;
}
.imgbtn.selected{
    border-bottom: 3px solid #82edff;
}
.cell{
    height: 1550px; width: 615px;
}
.cell.data{
    height: 1550px; width: 600px;
}
.banner{
    background-color: white;
    color: black;
    text-align: center;
}

/* 陣營 */
.partyList{
    border-style: solid;
    border-color: white;
    height: 53px;
}
.party .imgbtn{
    padding-right: 3px; padding-left: 3px;
    display: inline-block;
    width: 40px; height: 40px;
}

/* 英雄 */
.charList{
    border-style: solid;
    border-color: white;
}
.character .imgbtn{
    display: inline-block;
    position: static;
    padding-right: 3px; padding-left: 3px;
    width: 60px; height: 86px;
}
.talent{
    display: none;
    width: 300px; 
    position: fixed;
    border: 1px solid red;
    background-color: black;
}
.character:hover > .talent{
    display: block
}

/* 技能 */
.skillList{
    border-style: solid;
    border-color: white;
}
.skill .imgbtn{
    background-color: white;
    padding-top: 1px; padding-right: 1px; padding-left: 1px;
}
.skillinfo{
    color: white;
}

/* 士兵 */
.soldierList{
    border-style: solid;
    border-color: white;
}
.soldier .imgbtn{
    display: inline-block;
    position: static;
    padding-right: 3px; padding-left: 3px;
}

/* 兵營 */
.trainingList{
    border-style: solid;
    border-color: white;
}
.training .imgbtn{
    display: inline-block;
    position: static;
    padding-right: 3px; padding-left: 3px;
}
.trainingDESC{
    display: none;
    width: 400px; 
    position: fixed;
    border: 1px solid red;
    background-color: black;
}
.training:hover > .trainingDESC{
    display: block;
}

/* 地形 */
.terrainList{
    border-style: solid;
    border-color: white;
}
.terrain .imgbtn{
    display: inline-block;
    position: static;
    padding-right: 3px; padding-left: 3px;
}

/* 附魔 */
.enchantList{
    border-style: solid;
    border-color: white;
}
.enchant .imgbtn{
    display: inline-block;
    position: static;
    padding-right: 3px; padding-left: 3px;
}

/* 裝備 */
.equipmentDESC{
    display: none;
    width: 400px; 
    position: fixed;
    border: 1px solid red;
    background-color: black;
}
.equipment:hover > .equipmentDESC{
    display: block;
}
.weaponList{
    border-style: solid;
    border-color: white;
}
.weapon .imgbtn{
    display: inline-block;
    position: static;
    padding-right: 3px; padding-left: 3px;
}
.armorList{
    border-style: solid;
    border-color: white;
}
.armor .imgbtn{
    display: inline-block;
    position: static;
    padding-right: 3px; padding-left: 3px;
}
.helmetList{
    border-style: solid;
    border-color: white;
}
.helmet .imgbtn{
    display: inline-block;
    position: static;
    padding-right: 3px; padding-left: 3px;
}
.accessoryList{
    border-style: solid;
    border-color: white;
}
.accessory .imgbtn{
    display: inline-block;
    position: static;
    padding-right: 3px; padding-left: 3px;
}
/* 被動 */
.PassiveList{
    border-style: solid;
    border-color: white;
}
.Passive .imgbtn{
    background-color: white;
    padding-top: 1px; padding-right: 1px; padding-left: 1px;
}
.Passiveinfo{
    color: white;
}

/* 指揮 */
.CommandList{
    border-style: solid;
    border-color: white;
}
.Command .imgbtn{
    background-color: white;
    padding-top: 1px; padding-right: 1px; padding-left: 1px;
}
.Commandinfo{
    color: white;
}

/* 強化 */
.BUFFList{
    border-style: solid;
    border-color: white;
}
.BUFF .imgbtn{
    background-color: white;
    padding-top: 1px; padding-right: 1px; padding-left: 1px;
}
.BUFFinfo{
    color: white;
}

/* 弱化 */
.DEBUFFList{
    border-style: solid;
    border-color: white;
}
.DEBUFF .imgbtn{
    background-color: white;
    padding-top: 1px; padding-right: 1px; padding-left: 1px;
}
.DEBUFFinfo{
    color: white;
}

/* 進場前/戰前數字 */
.NUMDESC{
    display: none;
    width: 400px; 
    position: fixed;
    border: 1px solid red;
    background-color: black;
}
.NUM:hover > .NUMDESC{
    display: block;
}
